<div class="row">
	<div class="col-md-6">
		<div class="well">
			
			<%= link_to "http://leilajacob.wordpress.com" do %>
				<p><%= image_tag "podcast.jpg", height: "250px" %></p>
			<% end %>
		</div>
	</div>
	<div class="col-md-6">
		<div class="well">
			
			<%= link_to "store_front_path" do %>
				<p><%= image_tag "portrait.jpg", height: "250px" %></p>
			<% end %>

		</div>
	</div>
	
</div>