
<div class="row">
	<div class="col-md-6">
		<div class="well">
			<%= link_to "https://leilajacob.wordpress.com/category/knitting-2/" do %>
				<p><%= image_tag "dress-pic.jpg" %></p>
			<% end %>
			<h3></h3>
		</div>
	</div>
	<div class="col-md-6">
		<div class="well">
			<h1>My Patterns</h1>
			<%= link_to "http://www.ravelry.com/designers/leila-jacob" do %>
				<p><%= image_tag "blue-scarf.jpg" %></p>
			<% end %>
		</div>
	</div>
</div>
		